:root {
  --small-margin-side:  16px;
  --max-width:          800px;
  --headfoot-bg:        #4e7bbd;
  --menu-bg:            #8ba8d3;
  --menu-a:             white;
  --menu-h:             #678dc6;
  --menu-click:         #4977bb;
}

body {
  font-family:  Verdana, Helvetica, Arial, sans-serif;
  text-align:   justify;
  font-size:    18px;
}

.page-content {
  margin:             0 auto;
  max-width:          var(--max-width);
  background-color:   #fcfcfc;
}

h1 {
  background-color:   var(--headfoot-bg);
  color:              orange;
  text-shadow:        black 2px 2px 3px;
  margin:             0;
  padding:            24px;
  text-align:         center;
}

.footer {
  background-color:   var(--headfoot-bg);
  font-size:          smaller;
  padding:            16px;
  color:              white;
}
.footer-content {
  margin:             auto;
  max-width:          var(--max-width);
}

.content {
  padding:          16px;
}

.menu {
  text-align:           center;
  background-color:     var(--menu-bg);
}
.menu div {
  display:              inline-block;
  padding:              8px;
  &:hover {
    background-color:   var(--menu-h);
  }
  &:active {
    background-color:   var(--menu-click);
  }
  &.active {
    color:              orange;
    background-color:   var(--menu-a);
    a {
      color:            darkorange;
    }
  }
}
.menu a {
  font-size:            1.5em;
  &.active {
    color:              white;
  }
  &:active {
    background-color:   var(--menu-click);
    color:              white;
  }
}
.menu a:link {
  text-decoration:    none;
}
.menu a:hover {
  text-decoration:    none;
}

.todo {
  font-style:       italic;
  color:          darkgreen;
}

.draft-badge {
  background-color: #ff5555;
  color:            white;
  border-radius:      12px;
  padding:            2px 10px 2px 10px;
  font-size:          14px;
  vertical-align:     top;
}

.route-image {
  max-width:          100%;
  margin-left:        auto;
  margin-right:       auto;
  display:            block;
}

.route-map iframe {
  margin-left:        var(--small-margin-side);
  margin-right:       var(--small-margin-side);
  width:              calc(100% - 2*var(--small-margin-side));
  display:            block;  
}

.route-core-data {
  margin:             4px var(--small-margin-side) 8px var(--small-margin-side);
  border:             1px solid darkgray;
  background-color: lightgray;
  padding:            8px;
}

h3 {
  margin-top: 40px;
}

.under-h3 {
  margin-top: -18px;
  margin-bottom: 17px;
}

.dates-hint {
  font-style: italic;
  color: gray;
}

.staatsbuergerschaft {
  --block-padding: 15px;

  ol {
    padding-inline-start: var(--block-padding);
  }

  h2 {
    color: gray;
  }

  ol > li > h3 {
    color: red;
    font-size: large;
    margin-top: 48px;
  }

  .note {
    font-style: italic;
    margin-left: calc(-1 * var(--block-padding));
    border-left: 10px solid gold;
    padding-left: 20px;
  }

  .imgnote {
    margin-left: calc(-1 * var(--block-padding));
    border-left: 10px solid red;
    color: red;
    padding-left: 20px;
    font-size: 80%;
  }

  .beispielfrage {
    color: red;
    h5 {
      margin-top: 24px;
      margin-bottom: -8px;
    }
    p {
      font-style: italic;
    }
    ul {
      list-style-type: none;
      li:before
      {
        content: "\2610";
        margin-right:5px;
      }
    }
  }
}

.popup-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  overflow: hidden;

  height: 0px;
  border: none;

  .tracking-inside {
    position: inherit;
    left: 50%;
    height: 100%;
    margin-left: -250px;
    border: 1px gray solid;
    background-color: lightgray;
    color: black;
    padding: 12px 35px;
  }
  .buttons {
    text-align: center;
    margin-top: 6px;
    button {
      appearance: button;
      backface-visibility: hidden;
      border-radius: 6px;
      border-width: 0;
      box-sizing: border-box;
      cursor: pointer;
      outline: none;
      touch-action: manipulation;
      font-size: large;
      padding: 6px 12px;
    }
    .primary {
      margin: 0px 12px;
      background-color: #415ef6;
      color: #fff;
    }
  }

  transition: 1s;
}
.popup-bottom-appear {
  height: 120px;
}
