{{> doctype}}
<html lang="de">
{{> header}}
<body>
  <h1>{{#lang "de"}}ÖBB Autoreisezug{{else}}Авто-мото-поїзд{{/lang}}</h1>
  {{> menu active='info'}}

  <div>
    Ich schreibe hier später über den ÖBB Autoreisezug.
  </div>
  {{> footer}}
  {{> counter}}
</body>
</html>