<div class="menu">
  <var $classHome></var><var $classTrips></var><var $classTech></var>
  <if $active='home'><set $classHome>class="active"</set></if>
  <if $active='trips'><set $classTrips>class="active"</set></if>
  <if $active='tech'><set $classTech>class="active"</set></if>
  <if $active='stb'><set $classStb>class="active"</set></if>
  <a {{$classHome}} href="{{$(root)}}index.html">Home</a>
  <a {{$classTrips}} href="{{$(root)}}trips.html">Routes</a>
  <a {{$classTech}} href="{{$(root)}}tech.html">Technologie</a>
  <a {{$classStb}} href="{{$(root)}}docs/stb.html">Staatsb.</a>
</div>
<div class="page-content">