{{> doctype}}
<html lang="de">
{{> header}}
<body>
  <h1>{{#lang "de"}}Dänemark mit dem Wohnmobil{{else}}Данія з будинком на колесах{{/lang}}</h1>
  {{> menu active='travel'}}
  <div class="page-content">
    <div class="content">

      {{> draft}}
      <p>
        {{#lang "de"}}Entwurf, zum Planen.{{else}}Приблизний план.{{/lang}}
      </p>
      {{> trip-details
        details=(json '{
          "map": "",
          "kurviger": "",
          "length": "",
          "drivetime": "",
          "complexity": "Einfach"
        }')
      }}
      <p class="route-image">
      </p>

      <p>
        {{#lang "de"}}Plan{{else}}План{{/lang}}:<ul>
          <li><a href="#t1">Tag 1&2: Weg von Wien zum Dänemark</a></li>
          <li><a href="#t2">Tag 3: ...</a></li>
          <li><a href="#tn">Tag vorletzter und letzter: Weg nach Wien</a></li>
        </ul> 
      </p>
      
      <h3>Wichtiges</h3>
    
      <p>
        Geschwindigkeit: 
        <ul>
          <li>Ortsgebiet: 50 km/h.</li>
          <li>Außerorts: 80 km/h.</li>
          <li>Schnellstraße: 80 km/h.</li>
          <li>Autobahn: 130 km/h.</li>
        </ul>
      </p>


      <h3 id="t1">Tag 1 und 2: Wien-Dänemark</h3>
      <div class="dates-hint under-h3">Tag 1 und 2</div>
      {{> trip-details
        details=(json '{
          "map": "https://maps.app.goo.gl/yuE5nGaVMuNC1ZNq8?g_st=ic",
          "kurviger": "",
          "length": "1140 km",
          "drivetime": "14 Stunden",
          "complexity": "Leicht"
        }')
      }}
      <p>
        Google glaubt, es dauert 12 Stunden.
        Aber mit dem Wohnmobil werde ich etwas langsamer, also 14 Stunden sind realistisch.
        Es schaut sinnvoll aus, die Route auf 2 Tagen zu teilen.
      </p>
      <p>
        Ausschnitte:
        <ul>
          <li>Wien - Prag: 331 km (3.5 Stunden)</li>
          <li>Prag - Dresden: 150 km (2 Stunden)</li>
          <li>Dresden - Berlin: 195 km (2.5 Stunden)</li>
          <li>Berlin - Hamburg: 290 km (3.5 Stunden)</li>
          <li>Hamburg - Aabenraa: 186 km (2.5 Stunden)</li>
        </ul>
      </p>
      <p>
        Wenn wir am ersten Tag den Wohnmobil nehmen und packen müssen, können wir mit 5.5 Stunden in Dresden schaffen und da übernachten, dann bleibt langweilige aber machbare 7.5 Stunden bis Dänemark.
        Wenn aber alles bereit wird und wir in der früh starten, machen wir lieber erste Übernachtung in Berlin.
      </p>


      <h3 id="t3">Tag 3: Etwas in Dänemark</h3>
      {{> trip-details
        details=(json '{ 
          "kurviger": "",
          "map": "",
          "length": "",
          "drivetime": ""
        }')
      }}
      <p class="route-map">
      </p>

      <p>
      </p>


      <h3 id="t2">2 letzte Tagen: Weg nach Wien</h3>
      {{> trip-details
        details=(json '{ 
          "kurviger": "",
          "map": "",
          "length": "",
          "drivetime": ""
        }')
      }}
      <p class="route-map">
      </p>

      <p>
      </p>

    </div>
  </div>

  {{> footer}}
  {{> counter}}
</body>
</html>
