<p>
  <a href="https://www.nightjet.com/de/angebote/automotorrad/in-oesterreich">ÖBB Autoreisezug Wien-Feldkirch</a>
</p>
<p>
  Die Tickets kosten normalerweise 100 EUR pro Person in Liegewagen, 85 für Motorrad.
  Es gibr ÖAMTC-Rabatt.
  Der Zug fährt um 22:44 Uhr in Wien ab (man sollte eine Stunde vorher an der Verladestelle sein) und erreicht Feldkirch um 07:49 Uhr.
  Mehr info über <a href="{{link "info/arz.html"}}">ÖBB Autoreisezug</a>.
</p>
