{{#lang "de"}}
  <span class="draft-badge" title="Ich habe diese Route mit dieses GPX track noch nicht gefahren. Ich probiere und verbessere wann ich die Zeit habe...">Draft</span>
{{/lang}}
{{#lang "uk"}}
  <span class="draft-badge" title="Це чорновик маршруту або принаймні GPX-треку, який я ще не їздив. При нагоді перевірю і покращу опис...">Чорновик</span>
{{/lang}}
