<a class="flag flag-{{language}}" href="{{link context.relativePathDe lang=language}}">
  {{#ifEquals language "de"}}
  <div class="de-top"></div>
  <div class="de-middle"></div>
  <div class="de-bottom"></div>
  {{/ifEquals}}
  {{#ifEquals language "uk"}}
  <div class="uk-top"></div>
  <div class="uk-bottom"></div>
  {{/ifEquals}}
</a>