<div class="footer">
    <div class="footer-content">
        <p>2025 &#169; {{#lang "de"}}Pavlo Lissov{{else}}Павло Ліссов{{/lang}}</p>
        <p>{{#lang "de"}}Alle Rechte der Bilder liegen bei Pavlo Lissov{{else}}Всі права на зображення і фотографії належать Павлу Ліссову{{/lang}}</p>
        <p>{{#lang "de"}}Kontakt{{else}}Контакт{{/lang}}: <a href="mailto: admin@lissov.net?subject=MotoWien">{{#lang "de"}}E-Mail senden{{else}}Надіслати листа{{/lang}}</a></p>  
    </div>
</div>
