<div class="menu">
  <div {{#ifEquals active 'home'}}class="active"{{/ifEquals}}>
    <a href="{{context.root}}index.html">Home</a>
  </div><div {{#ifEquals active 'trips'}}class="active"{{/ifEquals}}>
    <a href="{{context.root}}trips.html">Routes</a>
  </div><div {{#ifEquals active 'tech'}}class="active"{{/ifEquals}}>
    <a href="{{context.root}}tech.html">Technologie</a>
  </div>
</div>
