<p>
  Diese Route führt über drei Mautstraßen: Gerlos, Großglockner und Nockalm.
  Beim ÖAMTC gibt es eine reduzierte <a href="https://www.oeamtc.at/thema/maut-vignette/grossglockner-hochalpen-strasse-ermaessigte-vorverkaufskarten-beim-oeamtc-16181934" target="_blank">Kombikarte</a> für alle drei Straßen für 49 EUR (Stand 2025), gültig für zwei Jahre.
</p>