{{> doctype}}
<html lang="de">
{{> header}}

<body>
  <h1>Motorrad rund um Wien</h1>
  {{> menu active='home'}}
  <div class="page-content">
    <div class="content">
      <p>
        Ich bin Pavlo Lissov, in der Ukraine geboren und lebe seit 2012 in Wien.
        Im Jahr 2021 habe ich den Code 111 erhalten (Motorräder bis 125 ccm, das österreichische Äquivalent zum A1), und 2022 dann den vollen A-Führerschein gemacht.
        Ich mag kleine Tagesausflüge – es gibt wirklich viele schöne Straßen rund um Wien, die man in einem Tag genießen kann.
        Auf dieser Website werde ich die Strecken beschreiben, mit Fotos, Tipps und GPS-Routen. Hauptsächlich für mich selbst, aber vielleicht kann für andere auch interessant sein.
      </p>
      <p>
        Deutsch ist nicht meine Muttersprache, also verzeiht mir bitte die Fehler.
        Ich möchte mein Deutsch verbessern, und diese Seite ist auch ein Versuch, mehr Übung zu bekommen.
        Als professioneller Softwareentwickler arbeite ich meistens mit Angular und anderen modernen Technologien, aber jetzt versuche ich, eine möglichst einfache Website nur mit reinem HTML zu erstellen.
        Ich bin gespannt, wie mir das alles gelingt.
        Schreibt mir gerne, damit ich die Seite verbessern kann!
      </p>
    </div>
  </div>

  {{> footer}}
  {{> counter}}
</body>
</html>

{{> tracking}}
