{{> doctype}}
<html lang="de">
{{> header root=''}}

<body>
  <h1>Motorrad rund um Wien: Technologie</h1>
  {{> menu active='tech'}}
  <div class="page-content">
    <div class="content">
      <p>
        Als professioneller Softwareentwickler arbeite ich mit den neuesten Technologien wie Angular – und alle diese Dependencies bereiten mir regelmäßig Kopfschmerzen.
        Als jemand, der im 20. Jahrhundert geboren wurde, erinnere ich mich noch an alte Software, die ihren Zweck ohne überflüssige Megabytes an Code erfüllte.
        Als leidenschaftlicher Motorradfahrer bin ich oft an Orten mit schwachem, langsamen Internet und kann selbst spüren, wie ärgerlich es ist, darauf zu warten, dass unnötige Dinge geladen werden, nur um eine Route anzusehen.
      </p>
      <p>
        Deshalb habe ich mich entschieden, meine Webseite mit purem HTML und CSS zu erstellen.
        Einerseits, um zu zeigen, dass es noch möglich ist, kleine, zweckerfüllende Dinge zu bauen.
        Andererseits, um auf Touren immer Zugriff auf meine Fahrpläne zu haben – überall dort, wo es noch das langsamste Internet gibt.
      </p>
      <p>
        Aber vor allem macht es wirklich Spaß, mit so etwas zu arbeiten.
      </p>
      <p>
        Was dein und mein Browser erhält, ist pures statisches HTML und CSS.
        Die Seite ist minimalistisch und hoffentlich nicht allzu unansehnlich.
      </p>
      <p>
        Natürlich will ich die Dinge dennoch konsistent und wiederverwendbar gestalten.
        Deshalb steckt "unter der Haube" Handlebars.
        Die Templates werden direkt auf meinem PC ins HTML "kompiliert" und auf GitHub committet, wo die Webseite als statisches HTML gehostet wird.
      </p>
      <p>
        Außerdem wollte ich schon immer auf dem Handy programmieren oder zumindest nutzbaren Content erstellen.
        Dafür hatte ich eine Idee: Die Templates kann ich direkt auf GitHub bearbeiten.
        Und wozu habe ich zuhause einen Raspberry Pi?
        Dort läuft ein Skript, das GitHub regelmäßig überprüft.
        Wenn etwas Neues erscheint, nimmt es die neueste Version, baut die Website aus den Templates und "pusht" sie zurück.
        So habe ich diesen Text unterwegs auf meinem Handy getippt – und eine Minute später war er bereits veröffentlicht.
      </p>
      <p>
        Weitere Details dazu findest du auf meinem <a href="https://github.com/Lissov/motowien" target="_blank">GitHub</a>.
      </p>

      <h3>Nutzerzahlen</h3>
      <p>
        Ich würde gerne wissen, ob und wie viele Leute meine Website besuchen.
        Dafür habe ich einen einfachen Zähler integriert, der registriert, wann jede Seite geöffnet wird.
        Diese Informationen werden auf meinem Server protokolliert.
        Wenn erlaubt, wird eine zufällige Client-ID verwendet.
        Dabei werden keine personenbezogenen Daten übermittelt oder gespeichert.
        Es gibt folgende Optionen:
        <ul>
          <li><b>Erlauben</b>: Ein <u>zufälliger</u> Identifikator wird generiert und im Browser gespeichert.
            Dieser wird dann an den Server gesendet.
            Der Identifikator ist rein zufällig und nicht mit dem Nutzer, der Hardware oder der Software verknüpft.
            Er dient lediglich dazu, die Anzahl einzigartiger Nutzer zu erfassen, damit ich dich von anderen unterscheiden kann.
            <b>Ich bitte dich, diese Option zu wählen.</b>
          </li>
          <li><b>Anonym</b>: Dasselbe, aber mit "anonymous" als ID.
            Dadurch kann ich die Nutzer nicht unterscheiden und somit nicht wissen, ob es mehrere Personen sind oder eine Person die Seite mehrmals besucht.
            Aber es ist besser als nichts.
          </li>
        </ul>

        <p id="tracking-option"></p>
        <button id="tracking-option-change" onclick="localStorage.removeItem('allowTracking'); location.reload();">Option ändern</button>
        <p id="tracking-history"></p>
        <p>
          Aktuelle Nutzerzahl ist <a href="usage.html">hier</a>.
        </p>
      </p>
    </div>
    <script>
      var o = localStorage.getItem('allowTracking');
      var ot = document.getElementById('tracking-option');
      if (o === 'anonymous') ot.innerHTML = 'Du hast die Option <b>Anonym</b> gewählt.'
        else if (o === 'true') ot.innerHTML = 'Du hast die Option <b>Erlauben</b> gewählt. Danke!'
        else document.getElementById('tracking-option-change').style = 'display: none';
      var clientId = localStorage.getItem('clientId');
      if (!!clientId)
        document.getElementById('tracking-history').innerHTML = `Du bist oder warst mit dem Identifikator [${clientId}] protokolliert. Um die Logs zu löschen, sende mir bitte eine E-Mail mit diesem Identifikator.`;
      else
        document.getElementById('tracking-history').style = 'display: none';
    </script>
  </div>

  {{> footer}}
  {{> counter}}
</body>
</html>

{{> tracking}}
