{{> doctype}}
<html lang="de">
{{> header}}
<body>
  <h1>Pucjberg am Schneeberg und Rax</h1>
  {{> menu active='trips'}}
  <div class="page-content">
    <div class="content">

      {{> trip-details
        details=global.listings.schneeberg_rax
      }}
      <p>
        <iframe class="route-image" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </p>
      <p>
        Heiligenkreuz, Mayerling, Puchberg am Schneeberg, Rax, Kalte Kuchl, St. Corona, Mauerbach. 
      </p>

      <p>
        Gute aber ziemlich lange Route.
      </p>

      <p>
        
      </p>
      <p>
      </p>
      <p>
      </p>
      <p>
      </p>

    </div>
  </div>

  {{> footer}}
  {{> counter}}
</body>
</html>