{{> doctype}}
<html lang="de">
{{> header}}
<body>
  <h1>Schweiz ab Feldkirch (Autoreisezug)</h1>
  {{> menu active='trips'}}
  <div class="page-content">
    <div class="content">

      <span class="draft-badge" title="Ich habe diese Route mit dieses GPX track noch nicht gefahren. Ich probiere und verbessere wann ich die Zeit habe..">Draft</span>
      <p>
        Entwurf, zum Planen
      </p>

      <p>
        Plan:<ul>
          <li>Nacht 1: Zug nach Feldkirch.</li>
          <li>Tag 1: </li>
          <li>Tag 2: </li>
          <li>Tag 3: </li>
          <li>Tag 4: </li>
          <li>Tag 5: </li>
          <li>Nacht 5: Zug nach Wien</li>
        </ul> 
      </p>
      <p>
        Ungefährer Plan in <a href="https://kurv.gr/rZm2b">Kurviger</a>
        und <a href="https://maps.app.goo.gl/9qVnUTKdan7NFZvC9?g_st=ic">Google Maps</a>
      </p>

      <h3>Tag 0 - zum Autoreisezug</h3>
      {{> trip-details
        details=json('{
      }}

      <p class="route-map">
      </p>

      <h3>Tag 1: Irgendwo zum Zürich</h3>
      {{> trip-details
        details=json('{}')
      }}
      <p class="route-map">

      </p>

      <p>
        Der erste Rundfahrtstag beginnt mit dem ...
      </p>

    </div>
  </div>

  {{> footer}}
  {{> counter}}
</body>
</html>