{{> doctype}}
<html lang="de">
{{> header}}
<body>
  <h1>Schweiz ab Feldkirch (Autoreisezug)</h1>
  {{> menu active='trips'}}
  <div class="page-content">
    <div class="content">

      <span class="draft-badge" title="Ich habe diese Route mit dieses GPX track noch nicht gefahren. Ich probiere und verbessere wann ich die Zeit habe..">Draft</span>
      <p>
        Entwurf, zum Planen
      </p>

      <p>
        Plan:<ul>
          <li>Nacht 1: Zug nach Feldkirch.</li>
          <li>Tag 1: Appenzell, Säntis, Zürichsee (Schloss Au), Luzern</li>
          <li>Tag 2: </li>
          <li>Tag 3: </li>
          <li>Tag 4: </li>
          <li>Tag 5: </li>
          <li>Nacht 5: Zug nach Wien</li>
        </ul> 
      </p>
      <p>
        Ungefährer Plan in <a href="https://kurv.gr/rZm2b">Kurviger</a>
        und <a href="https://maps.app.goo.gl/9qVnUTKdan7NFZvC9?g_st=ic">Google Maps</a>
      </p>

      <h3>Tag 0 - zum Autoreisezug</h3>
      {{> trip-details
        details=(json '{}')
      }}

      <p class="route-map">
      </p>

      <h3>Tag 1: Feldkirch - Luzern</h3>
      {{> trip-details
        details=(json '{ 
          "kurviger": "https://kurv.gr/FJwMZ",
          "map": "https://maps.app.goo.gl/sQYakUmU4FPDDKzHA?g_st=ic",
          "length": "200 km",
          "drivetime": "4 Stunden"
        }')
      }}
      <p class="route-map">

      </p>

      <p>
        Gleich fahren wir ins Schweiz, Richtung Appenzell.
        Dann zum Parkplatz Schwägalp.
      </p>
      <p>
        Ab Schwägalp finden wir Wanderroute zum Säntis-Blick.
        Da gibt es Seilbahn, Laternliweg, Schaukäserei... also etwas passend soll es sein.
      </p>
      <p>
        Weiter geht's zum Zürichsee und über Rapperswill-Hurden Brücke.
        Neben die Straße gibt es alten Holzbrücke.
        Ich hoffe, der Wef und Gegend sollen spektakulär sein.
      </p>
      <p>
        Nächste Stopp ist Halbinsel Au.
        Da gibt es ein Schloss, weiß nicht ob man dem besichtigen darf.
        Auf jeden Fall gibt es am See viele Badestrände, da werden wir sicher baden.
      </p>
      <p>
        Weiter fahren wir ins Luzern, wo wir übernachten.
        Luzern hat schöne Altstadt und berühmte Holzbrücke.
      </p>


      <h3>Tag 2: Luzern - Rheinwald</h3>
      {{> trip-details
        details=(json '{ 
          "kurviger": "https://kurv.gr/QvvTz",
          "map": "",
          "length": "300 km",
          "drivetime": "5 Stunden"
        }')
      }}
      <p class="route-map">

      </p>

      <p>
        Schwyz - Stoosbahnen, wo wir einmal waren.
      </p>

      <p>
        Oberalppass, Lukmanierpass.
      </p>

      <p>
        Zum Rheinwald - man kann Autobahn nehmen, dirch Tunnels wird wesentlich schneller.
        Dann brauchen wir Hotel irgendwo.
      </p>
    </div>
  </div>

  {{> footer}}
  {{> counter}}
</body>
</html>